<footer >
    <div class="footer-container">        
        <div class="contact-box" data-aos="fade-up" >
            <h3>Contact Us</h3>
            <p>126 Osu Badu Crescent,<br>
Accra, Ghana<br><br>+233 546320468</p>
         
</div>

            <div class="footer-logo" data-aos="fade-up" data-aos-delay="300">
                <a href="/">
                    Zōok
                </a>  
                <div>
                    <a href="#"><img src="https://www.kozogh.com/images/icon-facebook.svg"></a> 
                    <a href="#"><img src="https://www.kozogh.com/images/icon-instagram.svg"></a> 
                </div>
                <p>2023 "Zōok Hospitality Ltd". All Rights Reserved.</p>
            </div>

            <div class="working-hours" data-aos="fade-up" data-aos-delay="600">
                <h3>Working Hours</h3>
                <p>Monday - Sunday:<br>
6:00 pm -12:00 am</p>
            </div>  
    </div>
</footer>