
<header>
    <div class="wrapper">
        <a class="logo" href="/">
            <h1>Zōok </h1>
        </a>
            
        <nav class="one">
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/#foodMenu">Menu</a></li>
            </ul>
        </nav>
        <nav class="three">
            <ul class="nav__links">
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact">Contact Us</a></li>
       
            </ul>
        </nav>
        <div class="cta">
            
                <button> <a href="#">Book a Table</a> </button>
        </div>  

        <p class="menu cta">Menu</p>
       
    </div>
    
</header>


<div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/#foodMenu">Menu</a>
        <a href="/careers">Careers</a>

        <a href="/contact">Contact Us</a>
    <button href="/booking">Book a table</button>
        
  
    </div>
</div>