<%- include('partials/header', {title :'Zōok  | About Us'}) %> 

<%- include('partials/navbar') %>
<div class="clr"></div>
<main>
    <section class="experience" style="    margin-top: -150px;">
        <div class="exp-content">
            <h3 class="exp-3" >About Us</h3>
            <h1 data-aos="fade-up " data-aos-delay="100">
                We are committed to innovation, sustainability and supporting local businesses
            </h1>
            <p data-aos="fade-up" data-aos-delay="150">Which is why we are so passionate about our food and drinks.

                <p  data-aos="fade-up" data-aos-delay="200">

                   
Our moral guidances are:
                </p>
                </p>
                <div class="allvalues">
                    <div class="col-md-3 col-xs-6" data-aos="fade-up" data-aos-delay="250">
                        <div class="value">
                            <h3 class="mb20"  >Being Sustainable</h3>
                            <p>We support sustainable farming<br>through our menu.</p>
                        </div>
                    </div> 
                    <div class="col-md-3 col-xs-6" data-aos="fade-up" data-aos-delay="350">
                        <div class="value" >
                            <h3 class="mb20">Being Ethical</h3>
                            <p>We work closely with suppliers<br>to ensure farming methods meet<br>our moral principles.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6" data-aos="fade-up" data-aos-delay="450">
                        <div class="value">
                            <h3 class="mb20">Being Local</h3>
                            <p>We source locally<br>wherever possible.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6" data-aos="fade-up" data-aos-delay="50">
                        <div class="value">
                            <h3 class="mb20">Being Organic</h3>
                            <p>Traceable farm to<br>fork produce</p>
                        </div>
                    </div>  
                </div>
                <div class="career-txt" data-aos="fade-up" data-aos-delay="50">
                    <h3>Zōok Experience</h3>
                    <h2>We are passionate about flavour and experience</h2>
                   <button style="margin-top:50px ;">
                    <a href="/careers">Our Careers</a>
                   </button> 
                </div>
        </div>
    </section>
    
    <div class="slider"></div>
<!-- Bg img  -->
    <!-- <div class="circle circlebottom circleleft" style="background-image:url(https://www.kozogh.com/images/about_bg.jpeg)"></div> -->
    <!-- Second section
     -->
    <section class="experiences">
        <div class="exp-contents">
            <div class="about-title">
                
                <h3 class="exp-4" >Our Chef</h3>
                <h1 data-aos="fade-up " data-aos-delay="100">
                   A Journey of Flavour
                </h1>
                <div class="content-about">
                    <p data-aos="fade-up" data-aos-delay="150">There is nothing we love more than experimenting with traditional African flavours and using Japanese and Thai cooking techniques to surprise and excite even the most seasoned foodie.
    
                        <p  data-aos="fade-up" data-aos-delay="200">
                            There is nothing we love more than experimenting with traditional African flavours and using Japanese and Thai cooking techniques to surprise and excite even the most seasoned foodie.
                        </p>
                        </p>
                </div>
           
            </div>
           
          
        </div>
    </section>
    
    <section style="overflow: hidden;">
        <h1 class="header-section" style="text-align: center; padding-top: 50px;" data-aos="fade-up" data-aos-delay="300">It's an Experience</h1>
    <p style="text-align: center; padding-top: 50px;" data-aos="fade-up" data-aos-delay="400">Let us tell you more through images.</p>
        <div class="grid-container">
          <div class="grid">
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
            <div class="gridLayer centerPiece">
              <div class="gridBlock centerBlock" style="opacity: 1;"></div>
            </div>
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
            <div class="gridLayer">
              <div class="gridBlock"></div>
            </div>
          </div>
        </div>
        
        
       
        
        
        
    </section>

    

</main>

<footer class="mt-mobile">
    <div class="footer-container">        
        <div class="contact-box" data-aos="fade-up" >
            <h3>Contact Us</h3>
            <p>126 Osu Badu Crescent,<br>
Accra, Ghana<br><br>+233 546320468</p>
         
</div>

            <div class="footer-logo" data-aos="fade-up" data-aos-delay="300">
                <a href="/">
                    Zōok
                   
                </a>  
                <div>
                    <a href="#"><img src="https://www.kozogh.com/images/icon-facebook.svg"></a> 
                    <a href="#"><img src="https://www.kozogh.com/images/icon-instagram.svg"></a> 
                </div>
                <p>2023 "Zōok Hospitality Ltd". All Rights Reserved.</p>
            </div>

            <div class="working-hours" data-aos="fade-up" data-aos-delay="600">
                <h3>Working Hours</h3>
                <p>Monday - Sunday:<br>
6:00 pm -12:00 am</p>
            </div>  
    </div>
</footer>
<%- include('partials/js-parts') %>
<%- include('partials/s-header') %>

</body>
</html>