<%- include('partials/header', {title :'Zōok '}) %> 


<%- include('partials/navbar') %> 
<main>
    <div class="cursor"></div>
  <div class="cursor-follower"></div>

<div class="loading-screen">
  <div class="loading-section">
    <div id="loader"></div>
  </div>
</div>
    <section class="hero-image">
    
    <div class="hero" style="background: url('/images/bg-home.png');background-position: center ;background-repeat: no-repeat ; background-size: cover;">
        <div class="hero-text">
            <div class="main-txt">

                <h1>The Afro-Asian Experience</h1>
            </div>
            <div class="sub-txt">
                <h3>More than just a restaurant</h2>
            </div>
            <div class="cta-main">
                <button> <a href="#">Explore Menu</a> </button>
            </div>
        </div>
        <!-- <div class="lit"  >

            <img src="/images/dragon.png" alt="">
        </div> -->
    </div>
        
    </section>
</div>
  <div class="slider"></div>
        <section class="experience" data-aos="fade-up" data-aos-delay="300">
            <div class="exp-content">
    
                <h1 data-aos="fade-up">
                    An unforgettable Asian dining journey with an African influence that stimulates all senses
                </h1>
                <p data-aos="fade-up" data-aos-delay="100">The Zōok  dining experience is elegant, sophisticated and exquisite. Our farm-to-table concept means we source ingredients from local farms, supporting the African Farmer while maintaining our commitment to bring only fresh ingredients to your tables.
                    <p  data-aos="fade-up" data-aos-delay="150">

                        The Zōok  food is made to share amongst friends and family, over piquant conversation and exquisite drinks.
                    </p>
                    </p>
                   <button  data-aos="fade-up" data-aos-delay="200">Our community</button>
            </div>
        </section>
        
     <section class="food-menu" id="foodMenu"  data-aos="fade-up" data-aos-delay="300">
        <div class="menu-header">
            <h1>Menu</h1>
            <!-- <h3>Food and Drinks</h3> -->
        </div>
        <div class="menu-carousels">
            <div class="food"  >
                <div class="food-txt" data-aos="fade-up">

                    <h1>Food</h1>
                    
                    <p>Here at our restaurant we bring you an Afro Asian experience as well as a refreshing taste into asian cuisine and we can guarantee and amazing meal.</p>
                </div>
                <div class="card-group"  data-aos="fade-down" data-aos-delay="100">
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                  </div>
            </div>
            <hr>
            <div class="wine"  >
                <div class="card-group" data-aos="fade-down" data-aos-delay="150">
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                  </div>
                <div class="food-txt"  data-aos="fade-up" data-aos-delay="200">

                    <h1>Wine</h1>
                    <p>Here at our restaurant we bring you an Afro Asian experience as well as a refreshing taste into asian cuisine and we can guarantee and amazing meal.</p>
                </div>

            </div>
            <hr>
            <div class="cocktails"  >
                <div class="food-txt" data-aos="fade-up" data-aos-delay="250">

                    <h1>Cocktails</h1>
                    <p>Here at our restaurant we bring you an Afro Asian experience as well as a refreshing taste into asian cuisine and we can guarantee and amazing meal.</p>
                </div>
                <div class="card-group" data-aos="fade-down" data-aos-delay="300">
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                    <div class="little-card card">
              
                    </div>
                    <div class="big-card card">
              
                    </div>
                  </div>
            </div>
        </div>
     </section>
     <!-- Founder -->
     <section class="founder">
         <div class="founder-content">
             
             <div class="founder-pic" data-aos="fade-down" data-aos-delay="150">
                 <img src="/images/tee.png" alt="Founder">
                </div>
                <div class="about-founder">
                    <div class="founder-header" data-aos="fade-up" data-aos-delay="100">
                        <h3>Our Founder</h3>
                        <h1>Telvin Varfley</h1>
                    </div>
                    <div class="founder-txt" data-aos="fade-up" data-aos-delay="100">
                        <p>
                            Taking inspiration from sourcing local products and working directly with farmers on their fresh produce, Sakorn has been able to rotate exciting new menus every two months. In addition, a luxurious chef-table experience was created for Zōok ´s more adventurous guests giving them the opportunity to expand their taste buds and enjoy food with a special 12-course meal menu.
                        </p>
                    </div>
                    
            </div>
        </div>
    </section>

    <section class="overview">
        <div class="overview-wrapper">
            <div class="overview-txt">
                
                <h1 data-aos="fade-up">Take a look</h1>
                <button class="diff" data-aos="fade-up" data-aos-delay="300"> <a href="#">View More</a></button>
            </div>
            <div class="overview-images">
                <div data-aos="fade-up" data-aos-delay="300" ></div>
                
                <div data-aos="fade-up" data-aos-delay="500"></div>
                <div data-aos="fade-up" data-aos-delay="700"></div>
            </div>
        </div>
        <div class="bg-image" >

            <img class="bg-one" src="images/bg-cat.png" alt="" data-aos="fade-up" data-aos-delay="900"> 
        </div>
        
     </section>
     
</main>
<%- include('partials/footer') %>

<%- include('partials/js-parts') %>

</body>
</html>